{% extends 'homebase.html' %}
{% block content1 %}
<h1>Find Record</h1>
<form action="usersearch" method="post">
    {% csrf_token %}
<table border=1 id="table2">
    <tr>
        <th>User Name</th>
        <td><input type="text" name="username"></td>
    </tr>
    <tr>
        <th></th>
        <td><input type="submit" value="Search" </td>
    </tr>
</table>
</form>

{% endblock content1 %}
{% block footer %}<h1 id="hh">Developed By Tulsi Shah || Home Page</h1>{% endblock footer %}